* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.Header {
    padding: 30px;
    display: flex;
    justify-content: center;
}
.header__ul, .footer__ul {
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
   
}

.header__img {
    position: absolute;
    left: 40px;
    margin-left: 0px;
}
.li__ul {
    margin: 0px 15px;
}

.Contenido {
    
    width: 90vw;
    margin: auto;
    
}

.Galeria {
    /*GRID*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}


.Galeria-img {
    width: 100%;
    height: 100%;
}


/*Caja de 2 filas*/
.Galeria-img--2f {
    grid-row: span 2;
}

/*Caja de 2 columnas*/
.Galeria-img--2c {
    grid-column: span 2;
}

/*Caja de 4x4*/
.Galeria-img--4 {
    grid-row: span 2;
    grid-column: span 2;
}

.footer {
    padding: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: #848484;
}
.footer__img  {
    height: 33px;
    width: 187px;
}
.footer__parrafo {
    text-align: center;
    
}

.IconBox-span {
    font-size: 2em;
}
