* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


.Contenido-galeria {
    /*GRID*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    background-color: red;
   
}